:root.theme-light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --heading-color: #353430;
  --button-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --title-decor-bg: #ff8dcb;
  --title-decor-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --visible: hidden;
}

.theme-light .hero__signal {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --heading-color: #353430;
    --button-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --title-decor-bg: #ff8dcb;
    --title-decor-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --visible: hidden;
  }

  .hero__signal {
    visibility: hidden;
  }
}