.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 130%;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--button-color);
  border-block-start: 1px solid var(--button-color);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--button-color);
  border-block-end: 1px solid var(--button-color);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 10px;
  block-size: 100vh;
  min-block-size: auto;
}

.hero__signal {
  position: absolute;
  inset-inline-end: 20px;
  inset-block-start: 10px;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 139%;
  text-transform: uppercase;
  visibility: var(--visible, visible);
}

.hero__signal::after {
  content: '';
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  margin-inline-start: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  align-self: start;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  line-height: 1;
  min-block-size: 26px;
  padding: 0 13px;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.hero__headline {
  color: var(--title-color);
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.hero__description {
  justify-self: end;
  align-self: center;
  max-inline-size: 364px;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 130%;
}

.title-decor {
  background-color: var(--title-decor-bg);
  color: var(--title-decor-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px;
}

.content__section {
  display: grid;
  gap: 20px;
}

.content__title {
  color: var(--button-color);
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 130%;
}

.content__text-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.insight-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.insight-card__title {
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 130%;
}

.insight-card__subtitle {
  font-weight: var(--font-weight-normal);
  font-size: 18px;
  line-height: 130%;
}

.insight-card__text {
  font-weight: var(--font-weight-normal);
  font-size: 18px;
  line-height: 130%;
}

.insight-card__link {
  border-bottom: 1px solid transparent;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.insight-card__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.insight-card__link:focus {
  outline: none;
}

.insight-card__link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 1px;
}

.gallery-section {
  gap: 10px;
}

.image-grid {
  display: grid;
  gap: 10px;
}

.image-grid__item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__headline {
  color: var(--title-color);
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .hero__signal {
    inset-inline-end: 30px;
    inset-block-start: 20px;
  }

  .hero__headline {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .hero__description {
    max-inline-size: 364px;
  }

  .content {
    gap: 80px;
    padding: 60px 20px;
  }

  .content__section-why {
    grid-template-columns: 1fr 2fr;
  }

  .content__section-what {
    grid-template-columns: 1fr 2fr;
  }

  .content__section-what .content__text-block {
    grid-column: 1 / -1;
  }

  .content__section-how {
    grid-template-columns: 1fr 2fr;
  }

  .gallery-section {
    gap: 20px;
  }

  .image-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .image-grid__item_type_sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .image-grid__item_type_ice-cream {
    grid-row: 1 / 3;
  }

  .image-grid__item_type_tape {
    grid-row: 2 / 4;
  }

  .image-grid__item_type_books {
    grid-column: 2 / 3;
  }

  .image-grid__item_type_street {
    grid-column: 2 / 4;
  }

  .footer {
    padding: 20px;
  }

  .footer__headline {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .hero__description {
    max-inline-size: 491px;
  }

  .content__section-what .content__text-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content__section-how .content__text-block {
    grid-column: 2 / -1;
  }
}