:root {
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --heading-color: #000028;
  --button-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --title-decor-bg: #ff0070;
  --title-decor-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --main-font: 'IBM Plex mono', monospace;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}